<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Anastasia Sevrugina - Character Animator, Digital Artist">
        <meta name="keywords" content="Character,Animation,Resume,Illustration,Cartoon,Artist">
        <meta name="author" content="Anastasia Sevrugina">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <title>Anastasia Sevrugina - Character Animator</title>
        <link href="/public/dist/css/main.css" type="text/css" rel="stylesheet" />

        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/public/img/favicons/apple-touch-icon-144x144.png" />
        <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/public/img/favicons/apple-touch-icon-152x152.png" />
        <link rel="icon" type="image/png" href="/public/img/favicons/favicon-32x32.png" sizes="32x32" />
        <link rel="icon" type="image/png" href="/public/img/favicons/favicon-16x16.png" sizes="16x16" />
        <meta name="application-name" content="Anastasia Sevrugina - Character Animator"/>
        <meta name="msapplication-TileColor" content="#FFFFFF" />
        <meta name="msapplication-TileImage" content="/public/img/favicons/mstile-144x144.png" />
    </head>

    <body>
        <div class="mainContainer" id="mainContainer"></div>
        <script src="/public/dist/js/bundle.js"></script>
    </body>
</html>
